.gc__main-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gc__gameCard-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}