.homepage-container {
  background-image: url('./assets/images (1).jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  border-top-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  position: absolute;
  top: 0%;
  left: 0;
}
.side-panel {
  width: 200px;
  height: 100%;
  background-color: aliceblue;
  position: fixed;
  top: 0;
  left: 0;
  transition: left 0.3s ease;
}

.side-panel.open {
  left: -300px;
}

.menu-items {
  padding: 20px;
}

.menu-items ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-items ul li {
  padding: 40px 0;
  color: blue;
  font-size: 1.9em;
}

.toggle-button {
  position: absolute;
  left: 7px;
  top: 0;
  padding: 8px 16px;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
  font-size: 1.4em;
}

.toggle-button:hover {
  background-color: #0056b3;
}

.logos-container {
  display: flex;
  justify-content: space-between; /* Space logos evenly */
  align-items: center;
  position: absolute;
  bottom: 10px; /* Adjust the distance from the bottom */
  left: 50%; /* Center the logos horizontally */
  transform: translateX(-50%); /* Center the logos horizontally */
  width: 77%; /* Adjust the width of the container */
}

.logo-wrapper {
  display: flex;
  align-items: center;
  height: 77%; /* Adjust the height of the logos */
}

.logo {
  width: 30px; /* Adjust the width of the logos */
  height: auto; /* Let the height adjust proportionally */
  margin-right: 10px; /* Adjust the spacing between logo and text */
}

.logo-text {
  font-size: 14px; /* Adjust the font size of the text */
  color: #333; /* Adjust the color of the text */
}

.separator {
  margin: 0 5px; /* Adjust the margin between separators */
}

.expertiseBtn {
  background-color: black;
  background: blue;
  position: absolute;
}
